<div id="modalAviso" class="modal-aviso oculto" role="dialog" aria-modal="true">
    <div class="modal-aviso-fondo"></div>
    <div class="modal-aviso-caja">
        <p class="modal-aviso-titulo">Aviso:</p>
        <p class="modal-aviso-mensaje" id="modalAvisoMensaje"></p>
        <div class="modal-aviso-botones" id="modalAvisoBotones">
            <button type="button" class="btn btn-primario" id="btnModalAvisoCerrar">Cerrar</button>
        </div>
    </div>
</div>

<div id="modalConfirmar" class="modal-aviso oculto" role="dialog" aria-modal="true">
    <div class="modal-aviso-fondo"></div>
    <div class="modal-aviso-caja">
        <p class="modal-aviso-titulo">Aviso:</p>
        <p class="modal-aviso-mensaje" id="modalConfirmarMensaje"></p>
        <div class="modal-aviso-botones">
            <button type="button" class="btn btn-primario" id="btnModalConfirmarSi">Confirmar</button>
            <button type="button" class="btn btn-secundario" id="btnModalConfirmarNo">Cancelar</button>
        </div>
    </div>
</div>

<div id="modalPassword" class="modal-aviso oculto" role="dialog" aria-modal="true">
    <div class="modal-aviso-fondo"></div>
    <div class="modal-aviso-caja">
        <p class="modal-aviso-titulo">Verificación</p>
        <p class="modal-aviso-mensaje" id="modalPasswordMensaje"></p>
        <div class="mb-3">
            <label class="form-label" for="modalPasswordInput">Contraseña del administrador</label>
            <input type="password" class="form-control" id="modalPasswordInput" autocomplete="current-password">
        </div>
        <div class="modal-aviso-botones">
            <button type="button" class="btn btn-primario" id="btnModalPasswordSi">Ver datos</button>
            <button type="button" class="btn btn-secundario" id="btnModalPasswordNo">Cancelar</button>
        </div>
    </div>
</div>
